name: Build & Release ESP32 Mesh Root

on:
  push:
    tags:
      - 'v*'  # Trigger saat kamu push tag versi (v1.0, v2.1, dst)

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Set up ESP-IDF
      uses: espressif/setup-idf@v1
      with:
        version: v5.1

    - name: Build firmware
      run: |
        idf.py set-target esp32
        idf.py build

    - name: Upload firmware ke Release
      uses: softprops/action-gh-release@v2
      with:
        files: |
          build/bootloader/bootloader.bin
          build/partition_table/partition-table.bin
          build/*.bin
      env:
        GITHUB_TOKEN: ${{ secrets.GT }}
